* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav{
    height: 80px;
    background-color: darkcyan; 
    display: flex;  
    align-items: center;
    justify-content: space-between;
    padding: 0px 5px 0px 100px;
}

.logo{
    font-size: 33px;
    color: #fff;
    font-weight: 600;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li {
margin: 0 5px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 8px 20px;
    border-radius: 5px;
    transition: all 0.3s;
}
nav .menu-btn i{
    color: #fff;
    font-size: 22px;
    cursor:pointer;
    display: none;
}

nav ul li a:hover, nav ul li a.active {
    background: #fff;
    color: #1b1b1b;
    box-shadow: 5px 5px 4px 0px;
}



#click{
    display: none;
}
@media screen and (max-width: 768px){
    nav ul{
        position: fixed;
        top: 80px;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: darkcyan;
        display: block;
        text-align: center;
    }

    nav ul li {
        margin: 40px 0;
    }

    nav ul li a {
        font-size: 20px;
    }
    nav ul li a:hover, nav ul li a.active{
        background: none;
        color: black;
    }
    nav .menu-btn i{
        display: block;
    }

    #click:checked ~ ul {
        left: 0%;
        transition: all 0.5s ease-in;
    }

    #click:checked ~ .menu-btn i::before{
        content: "\f00d";
        transition: cubic-bezier(0.445, 0.05, 0.55, 0.95);
        transition-delay: 0.5s;
    }

    
}